<!DOCTYPE html>
<html lang="es">
<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='dist/img/general/SYSTEM-OTMX.png')}}" />
<style>
    .database{
        background-color: aquamarine;
        transition: 0.5s;
    }
    .database:hover{
        background-color:rgb(189, 189, 186);
    }
</style>
{% include 'CPANEL/modulos/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/general/loader.png')}}"
                alt="LOGO" height="60" width="60" />
            <p>SYSTEM PANEL</p>
        </div>
        <!-- Navbar -->
        {% include 'CPANEL/modulos/nav-bar.html' %}
        <!-- /.navbar -->
        {% include 'CPANEL/modulos/menu.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-md">
                        <a href="/bases-datos" style="color:black;">
                            <div class="info-box shadow database">
                                
                                <span class="info-box-icon bg-light elevation-1"><img class="p-2" src="{{ url_for('static', filename = 'dist/img/general/ic_db_mongo.png')}}" alt=""></span>
                                <div class="info-box-content">
                                    
                                <span class="info-box-text">Mongo DB</span>
                                
                               
                                </span>
                                </div>
                                
                            </div>
                        </a>
                            
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- /.content-wrapper -->
        {% include 'CPANEL/modulos/footer.html' %}
        {% include 'CPANEL/modulos/side-bar-control.html' %}
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    {% include 'CPANEL/modulos/scripts.html' %}
    <!--Libreria chart-->
</body>

</html>