<!DOCTYPE html>
<html lang="es">
<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='dist/img/general/SYSTEM-OTMX.png')}}" />
{% include 'INFORMACION_BD/modulos/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/general/loader.png')}}"
                alt="LOGO" height="60" width="60" />
            <p>SYSTEM PANEL</p>
        </div>
        <!-- Navbar -->
        {% include 'INFORMACION_BD/modulos/nav-bar.html' %}
        <!-- /.navbar -->
        {% include 'INFORMACION_BD/modulos/menu.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                  <div class="row mb-2">
                    <div class="col-sm-6">
                      <h1 class="m-0">{{nameDataBase}}</h1>
                    </div>
                    <style>
                      #background{
                          background-color:#6c757d
                      }
                   </style>
                    <!-- /.col -->
                    <div class="col-sm-6">
                      <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Colecciones</li>
                      </ol>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <div class="container-fluid mt-4">
                <div class="row">
                    {% for dato in consulta %}
                    <div class="col-md-2">
                        <a href="/informacion_coleccion/{{nameDataBase}},{{dato}}" style="color:black;">
                            <div class="info-box shadow">
                                
                                <span class="info-box-icon bg-light elevation-1"><img class="p-2" src="https://cdn.icon-icons.com/icons2/112/PNG/512/documents_folder_18875.png" alt=""></span>
                                <div class="info-box-content">
                                    
                                <span class="info-box-text">{{dato}}</span>
                                
                               
                                </span>
                                </div>
                                
                            </div>
                        </a>
                    </div>
                    {% endfor %}  
                </div>
               
                
            </div>
        </div>
        
        <!-- /.content-wrapper -->
        {% include 'INFORMACION_BD/modulos/footer.html' %}
        {% include 'INFORMACION_BD/modulos/side-bar-control.html' %}
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    {% include 'INFORMACION_BD/modulos/scripts.html' %}
    <!--Libreria chart-->
</body>

</html>