<!DOCTYPE html>
<html lang="es">
<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='dist/img/general/SYSTEM-OTMX.png')}}" />
{% include 'INFORMACION_BD/modulos/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/general/loader.png')}}"
                alt="LOGO" height="60" width="60" />
            <p>SYSTEM PANEL</p>
        </div>
        <!-- Navbar -->
        {% include 'INFORMACION_BD/modulos/nav-bar.html' %}
        <!-- /.navbar -->
        {% include 'INFORMACION_BD/modulos/menu.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <div class="content-header">
                <div class="container-fluid">
                  <div class="row mb-2">
                    <div class="col-sm-6">
                      <h1 class="m-0">Datos de la coleccion</h1>
                    </div>
                    <style>
                      #background{
                          background-color:#6c757d
                      }
                   </style>
                    <!-- /.col -->
                    <div class="col-sm-6">
                      <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Colecciones</li>
                      </ol>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>

            <div class="container-fluid mt-4">
                <div class="card shadow">
                    
                    <div class="card-body">
                           
                                <table class="table table-bordered table-striped" id="example1">
                                    <thead>
                                        <tr>
                                            {% for titulo in titulos %}
                                            <th>{{titulo}}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for fila in data %}
                                        {% if fila[1] %}
                                        <tr>
                                            {%for dato in fila %}
                                                <td>{{dato}}</td>
                                            {% endfor %}
                                        </tr>

                                        {% endif %}
                                            
                                        {% endfor %}
                                    </tbody>
                                </table>
                            
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        
        <!-- /.content-wrapper -->
        {% include 'INFORMACION_BD/modulos/footer.html' %}
        {% include 'INFORMACION_BD/modulos/side-bar-control.html' %}
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    {% include 'INFORMACION_BD/modulos/scripts.html' %}
    <!--Libreria chart-->
</body>

</html>