<!DOCTYPE html>
<html lang="es">
{% include 'MODULOS_GENERALES/header.html' %}

<body class="nav-fixed bg-light">
    <!--Navbar-->
    {% include 'MODULOS_GENERALES/nav-bar.html' %}
    <!-- /.navbar -->

    <!--Menu (sidebar)-->
    {% include 'BD/modulos/menu.html' %}

    <!-- Layout wrapper-->
    <div id="layoutDrawer">
        <!-- Layout content-->
        <div id="layoutDrawer_content">
            <!-- Main page content-->
            <main>
                <div class="container-xl p-5">
                    <div id="scrollTarget"></div>
                    <div class="card card-raised">
                        <div class="card-header bg-transparent px-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="me-4">
                                    <h2 class="card-title mb-0">Datos de la colección: {{coleccion}}</h2>
                                    <div class="card-subtitle">Detalles e historial</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <!-- Simple DataTables example-->
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        {% for titulo in titulos %}
                                        <th>{{titulo}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for fila in data %}
                                    {% if fila[1] %}
                                    <tr>
                                        {% for dato in fila %}
                                        <td>{{dato}}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </main>
            <!--Footer-->
    {% include 'MODULOS_GENERALES/footer.html' %}
        </div>
    </div>
    <!--scripts-->
    {% include 'INFORMACION_BD/modulos/scripts.html' %}
</body>
</html>