<!DOCTYPE html>
<html lang="es">
{% include 'MODULOS_GENERALES/header.html' %}

<body class="nav-fixed bg-light">
    <!--Navbar-->
    {% include 'MODULOS_GENERALES/nav-bar.html' %}
    <!-- /.navbar -->

    <!--Menu (sidebar)-->
    {% include 'BD/modulos/menu.html' %}

    <!-- Layout wrapper-->
    <div id="layoutDrawer">
        <!-- Layout content-->
        <div id="layoutDrawer_content">
            <!-- Main page content-->
            <main>
                <div class="container-xl p-5">
                    <div id="scrollTarget"></div>
                    <div id="nav-tab-bar">
                        <h2 class="mb-4">{{nameDataBase}}</h2>
                        <mwc-tab-bar class="nav nav-tabs" role="tablist">
                            <mwc-tab class="active" label="Colecciones" data-bs-toggle="tab" role="tab"
                                aria-selected="true" id="colecciones" data-bs-target="#materialTabBarDemo"
                                aria-controls="materialTabBarDemo"></mwc-tab>
                            <mwc-tab label="Exportar" data-bs-toggle="tab" role="tab" aria-selected="false"
                                id="Exportar" data-bs-target="#materialTabBarHtml"
                                aria-controls="materialTabBarHtml"></mwc-tab>
                            <mwc-tab label="Importar" data-bs-toggle="tab" data-bs-target="#materialTabBarPug"
                                role="tab" aria-controls="materialTabBarPug" aria-selected="false"
                                id="Importar"></mwc-tab>
                            <mwc-tab label="Nueva colección" data-bs-toggle="tab" data-bs-target="#materialTabBarPug"
                                role="tab" aria-controls="materialTabBarPug" aria-selected="false"
                                id="nuevaColeccion"></mwc-tab>
                            <mwc-tab label="Más opciones" data-bs-toggle="tab" data-bs-target="#materialTabBarPug"
                                role="tab" aria-controls="materialTabBarPug" aria-selected="false"
                                id="masOpciones"></mwc-tab>
                        </mwc-tab-bar>
                        <div class="tab-content mb-5">
                            <div class="tab-pane show active" role="tabpanel" id="materialTabBarDemo"
                                aria-labelledby="materialTabBarDemoTab">
                                <div class="border border-top-0 p-3 p-sm-5 bg-light">
                                    <div class="row">
                                        {% for dato in consulta %}
                                        <div class="col-md-4">
                                            <a href="/informacion_coleccion/{{nameDataBase}},{{dato}}"
                                                style="color:black; text-decoration: none;">
                                                <div class="btn-example w-100 text-left">
                                                    <button class="btn btn-raised-primary btn-icon rounded"><i
                                                            class="material-icons">source</i></button> <span> {{dato}}
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="materialTabBarHtml"
                                aria-labelledby="materialTabBarHtmlTab">
                                <div class="d-flex justify-content-start border border-top-0 bg-light p-3 p-sm-4">
                                    <pre class="language-html m-0">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum facere minima ducimus nulla, porro reprehenderit in eius nemo animi, quae minus laborum iure consectetur sapiente deserunt voluptates vel! Laboriosam, recusandae!</p>
                                    </pre>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="materialTabBarPug"
                                aria-labelledby="materialTabBarPugTab">
                                <div class="d-flex justify-content-start border border-top-0 bg-light p-3 p-sm-4">
                                    <pre class="language-pug m-0">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At numquam consectetur voluptas impedit, eaque aliquid pariatur beatae hic neque! Corporis reiciendis tenetur ipsum minima, nostrum esse non debitis et maiores?</p>
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!--Footer-->
        {% include 'MODULOS_GENERALES/footer.html' %}
        </div>
    </div>

    <!--scripts-->
    {% include 'BD/modulos/scripts.html' %}
</body>

</html>