<!DOCTYPE html>
<html lang="es">

<head>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='dist/img/general/SYSTEM-OTMX.png')}}">
  {% include 'LOGIN/modulos/header.html' %}
</head>

<body>
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="{{ url_for('static',filename='dist/img/login/cpanel.svg')}}" class="img-fluid" alt="login">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form action="/login" method="post"><h1 class="text-center">SYSTEM-PANEL</h1>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for
            message in messages %}
            <script>
              Swal.fire({
                position: "top-end",
                icon: "warning",
                title: "{{message}}",
                showConfirmButton: false,
                timer: 1500,
              });
            </script>
            {% endfor %} {% endif %} {% endwith %}
            <!-- correo input -->
            <div class="form-outline mb-4">
              <label class="form-label">Correo</label>
              <input type="email" name="email" class="form-control form-control-lg rounded-pill input" />
            </div>

            <!-- contraseña input -->
            <div class="form-outline mb-4">
              <label class="form-label">Contraseña</label>
              <input type="password" name="password" class="form-control form-control-lg rounded-pill input" />
            </div>

            <!-- Submit button -->
            <input type="submit" class="btn btn-dark btn-lg btn-block rounded-pill" value="Iniciar sesion">
          </form>
        </div>
      </div>
    </div>
  </section>
  {% include 'LOGIN/modulos/scripts.html' %}
</body>

</html>