<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href='/cpanel' class="brand-link">
        
      <img src="{{ url_for('static', filename = 'dist/img/menu_icons/SYSTEM_menu.png')}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">SYSTEM PANEL</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <!-- SidebarSearch Form -->
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header">BASES DE DATOS</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-solid fa-tools nav-icon"></i>
              <p>
                Administrar
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/bases_colecciones/" class="nav-link">
                  <i class="fas fa-solid fa-plus nav-icon"></i>
                  <p>Nueva Base de datos </p>
                </a>
              </li>
              {% for dato in bases %}
              <li class="nav-item">
                <a href="/bases_colecciones/{{dato}}" class="nav-link">
                  <i class="fas fa-solid fa-database nav-icon"></i>
                  <p>{{dato}}</p>
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
         <!--ASISTENCIA-->
          <li class="nav-header">ROLES</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users fa-solid"></i>
              <p>
                Administrar
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-solid fa-info nav-icon"></i>
                  <p><small>Developing</small></p>
                </a>
              </li>
            </ul>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

<script>
  $('.toastsDefaultWarning').click(function() {
      $(document).Toasts('create', {
        class: 'bg-warning',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });

    $('.toastrDefaultError').click(function() {
      toastr.error('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });

    $('.swalDefaultWarning').click(function() {
      Toast.fire({
        icon: 'warning',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
</script>