<!--VERSION DEFINITIVA NO AGREGAR SCRIPTS (PODRIA AFECTAR FUNCIONAMIENTO)-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{titulo}}</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'dist/css/styles.css')}}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='dist/assets/img/SYSTEM-OTMX.png')}}">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
</head>
