<!DOCTYPE html>
<html lang="es">
{% include 'MODULOS_GENERALES/header.html' %}

<body class="nav-fixed bg-light">
    <!--Navbar-->
    {% include 'MODULOS_GENERALES/nav-bar.html' %}
    <!-- /.navbar -->

    <!--Menu (sidebar)-->
    {% include 'MODULOS_GENERALES/menu.html' %}

    <!-- Layout wrapper-->
    <div id="layoutDrawer">
        <!-- Layout content-->
        <div id="layoutDrawer_content">
            <!-- Main page content-->
            <main>
                <div class="container-xl p-5">
                    <div id="scrollTarget"></div>
                    <div class="row gx-5">
                        <div class="col-xl-4">
                            <!-- Profile picture card-->
                            <div class="card card-raised mb-5">
                                <div class="card-body p-5">
                                    <div class="card-title">{{admin.nombre}}</div>
                                    <div class="card-subtitle mb-4">{{session['USER']}}</div>
                                    <div class="text-center">
                                        <!-- Profile picture image-->
                                        <img class="img-fluid rounded-circle mb-1"
                                            src="{{url_for('static', filename = 'dist/assets/img/perfil.png')}}"
                                            alt="USER-PROFILE" style="max-width: 150px; max-height: 150px" />
                                        <!-- Profile picture help block-->
                                        <div class="caption fst-italic text-muted mb-4">Solo formato JPG NO MAYORES A 2
                                            MB</div>
                                        <!-- Profile picture upload button-->
                                        <button class="btn btn-primary" type="button">
                                            Cambiar foto de perfil
                                            <i class="material-icons trailing-icon">upload</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <!-- Account details card-->
                            <div class="card card-raised mb-5">
                                <div class="card-body p-5">
                                    <div class="card-title">Configuracion de la cuenta</div>
                                    <div class="card-subtitle mb-4">Revisa la informacion / actualiza la informacion de
                                        ser necesario</div>
                                    <form action="{{url_for('Perfil_routes.UpdatePassword',key=admin.email, campo='password')}}" method="post">
                                        {% with messages = get_flashed_messages() %} {% if messages %} {% for
                                        message in messages %}
                                        <script>
                                            Swal.fire({
                                                position: "top-end",
                                                icon: "warning",
                                                title: "{{message}}",
                                                showConfirmButton: false,
                                                timer: 4000,
                                            });
                                        </script>
                                        {% endfor %} {% endif %} {% endwith %}
                                        <!-- Form Group (datos del la cuenta)-->
                                        <div class="mb-4"><mwc-textfield class="w-100" label="Correo" type="email"
                                                outlined value="{{admin.email}}" disabled></mwc-textfield></div>
                                        <!-- Form Row-->
                                        <div class="row mb-4">
                                            <!-- Form Group (nombre)-->
                                            <div class="col-md-6"><mwc-textfield class="w-100" label="Nombre"
                                                    name="nombre" type="text" outlined
                                                    value="{{admin.nombre}}"></mwc-textfield></div>
                                            <!-- Form Group (password)-->
                                            <div class="col-md-6"><mwc-textfield class="w-100" label="Contraseña"
                                                    name="password" type="password" outlined
                                                    value="1234567890"></mwc-textfield></div>
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row mb-4">
                                            <!-- Form Group (telefono)-->
                                            <div class="col-md-6"><mwc-textfield class="w-100"
                                                    label="Numero de telefono" name="telefono" outlined type="tel"
                                                    value="{{admin.telefono}}"></mwc-textfield></div>
                                            <!-- Form Group (fecha de nacimiento)-->
                                            <div class="col-md-6">
                                                <div class="col-md-6"><mwc-textfield class="w-100"
                                                        label="Fecha de cumpleaños" name="cumple" outlined type="text"
                                                        value="{{admin.cumple}}"></mwc-textfield></div>
                                            </div>
                                        </div>
                                        <!-- boton de guardar cambios-->
                                        <div class="text-end"><button class="btn btn-primary" type="submit">Guardar
                                                cambios</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <!--Footer-->
            {% include 'MODULOS_GENERALES/footer.html' %}
        </div>
    </div>
    <!--scripts-->
    {% include 'MODULOS_GENERALES/scripts.html' %}
    <!--sweetAlert2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  
</body>

</html>