<!DOCTYPE html>
<html lang="es">
{% include 'PERFIL/modulos/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/general/loader.png')}}"
                alt="LOGO" height="60" width="60" />
            <p>SYSTEM PANEL</p>
        </div>
        <!-- Navbar -->
        {% include 'PERFIL/modulos/nav-bar.html' %}
        <!-- /.navbar -->
        {% include 'PERFIL/modulos/menu.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="container-fluid mt-4">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                src="{{ url_for('static', filename = 'dist/img/menu_icons/SYSTEM_menu.png') }}"
                                alt="user profile image">
                            <h3 class="profile-username text-center"></h3>
                            <p class="text-center">{{session['USER']}}</p>
                            <p class="text-center">administrador</p>
                        </div>
                        <div class="card card-info card-outline">
                            <div class="card-body">
                                <div class="row">
                                    <h4 class="title-h4">Cambiar contraseña</h4>
                                    <div class="form-group"></div>
                                </div>
                                <!--formulario del cambio de contraseña-->
                                <form class="row"
                                    action="{{url_for('Perfil_routes.UpdatePassword',key=admin.email, campo='password')}}"
                                    method="post">
                                    {% with messages = get_flashed_messages() %} {% if messages %} {% for
                                        message in messages %}
                                        <script>
                                          Swal.fire({
                                            position: "top-end",
                                            icon: "warning",
                                            title: "{{message}}",
                                            showConfirmButton: false,
                                            timer: 4000,
                                          });
                                        </script>
                                        {% endfor %} {% endif %} {% endwith %}
                                    <div class="col-md-4">
                                        <div class="form-group">
                                           <label>Nueva contraseña</label>
                                           <input type="password" name="password" class="form-control" placeholder="Contraseña"> 
                                        </div>
                                        <div class="form-group text-center">
                                            <label class="label">
                                                <i class="fas fa-solid text-center fa-exclamation"></i>
                                            </label><br>
                                            <button type="submit" class="btn btn-success">Confirmar</button>
                                        </div>
                                    </div>   
                                </form>
                                <div class="row">
                                    <h4 class="title-h4">Sistema de ayuda al administrador</h4>
                                </div>
                                <!--formulario de problemas del panel-->
                                <form class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label">Asunto</label>
                                                    <input type="text" name="asunto" class="form-control" placeholder="Asunto">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label">Detalles del problema</label>
                                                    <textarea class="form-control" name="detalles" rows="4" placeholder="Detalle aquí su problema"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="btn btn-primary">Enviar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="alert alert-warning shadow" role="alert">
                                            <h3 class="alert-heading">
                                                <i class="fas fa-solid fa-user">¡Sistema de ayuda al administrador!</i>
                                            </h3>
                                            <p>Hola muchas gracias por usar SYSTEM-PANEL by <strong>SYSTEM-OTMX</strong>;
                                            Si presentas algun problema con el sistema, por favor envia un mensaje con el asunto y detalles del problema.
                                            Trata de ser lo mas especifico posible por favor.
                                            </p>
                                            <hr>
                                            <p>En caso de que no recibas respuesta por favor manda un correo a: system.otmx@gmail.com</p>
                                        </div>
                                    </div> 
                                </form>
                            </div>
                        </div>
            </section>
        </div>

        <!-- /.content-wrapper -->
        {% include 'PERFIL/modulos/footer.html' %}
        {% include 'PERFIL/modulos/side-bar-control.html' %}
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    {% include 'PERFIL/modulos/scripts.html' %}
    <!--Libreria chart-->
</body>

</html>