<!DOCTYPE html>
<html lang="es">
{% include 'MODULOS_GENERALES/header.html' %}
<body class="nav-fixed bg-light">
    <!--Navbar-->
    {% include 'MODULOS_GENERALES/nav-bar.html' %}
    <!-- /.navbar -->
    
    <!--Menu (sidebar)-->
    {% include 'BD/modulos/menu.html' %}

    <!-- Layout wrapper-->
    <div id="layoutDrawer">
        <!-- Layout content-->
        <div id="layoutDrawer_content">
            <!-- Main page content-->
            <main>
                <!-- Page header-->
                <header class="masthead bg-dark">
                    <div class="container-xl px-5">
                        <div class="row justify-content-center gx-5">
                            <div class="col-md-8 col-lg-6">
                                <div class="text-center py-10">
                                    <!-- Example brand image (inline SVG image)-->
                                    <svg class="mb-3" viewBox="0 0 527 527" style="enable-background: new 0 0 527 527; height: 2.5rem; width: 2.5rem" xml:space="preserve">
                                        <style type="text/css">
                                            .st0 {
                                                fill: none;
                                                stroke: currentColor;
                                                stroke-width: 15;
                                                stroke-miterlimit: 10;
                                                enable-background: new;
                                            }
                                        </style>
                                        <img class="img-fluid" src="{{url_for('static', filename = 'dist/assets/img/SYSTEM-OTMX.png')}}" alt="SYSTEM" width="80">
                                    </svg>
                                    <!-- Masthead content-->
                                    <h1 class="masthead-heading mb-3 display-5">BASE DE DATOS EN MONGO DB</h1>
                                    <p> Bienvenido al administrador de gesto de base de datos para <strong>Mongo DB</strong>, aqui podra consultar las bases de datos que tienes
                                        disponibles, ademas de tener la posibilidad  de crear nuevas colecciones, modificar sus parametros de acuerdo a sus necesidades.
                                        RECUERDE <strong>TENER CUIDADO</strong> ya que toda acción que ejecute se realizara en tiempo REAL.

                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container-xl p-5">
                    <div id="scrollTarget"></div>
                </div>
            </main>
            <!--Footer-->
    {% include 'BD/modulos/footer.html' %}
        </div>
    </div>
    
    <!--scripts-->
    {% include 'BD/modulos/scripts.html' %}
</body>
</html>