<!DOCTYPE html>
<html lang="es">
<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='dist/img/general/SYSTEM-OTMX.png')}}" />
{% include 'BD/modulos/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/general/loader.png')}}"
                alt="LOGO" height="60" width="60" />
            <p>SYSTEM PANEL</p>
        </div>
        <!-- Navbar -->
        {% include 'BD/modulos/nav-bar.html' %}
        <!-- /.navbar -->
        {% include 'BD/modulos/menu.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="container-fluid mt-4">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">BASES DE DATOS EN MONGODB</h3>
                    </div>
                    <div class="card-body">
                        <span class="h5"><strong>Acerca de las bases de datos en MongoBD</strong> <i class="fas fa-sold fa-leaf"></i></span> 
                        <div class="card-body">
                            <p>Bienvenido al administrador de base de datos para <strong>Mongo BD</strong> aqui podra consultar las bases de datos 
                            que tiene disponibles, ademas de tener la posibilidad de crear nuevas colecciones, nuevas bases, y modificar sus parametros
                            de acuerdo a sus necesidades... Recuerde <strong>TENER CUIDADO</strong> ya que toda acciones que ejecute se hara en tiempo real
                            y no hay manera de recuperar los datos en caso de ser borrados.<br>                            
                            <strong>GRACIAS POR USAR SYSTEM-PANEL</strong></p>
                            <br>
                            <div class="text-center">
                                <img src="{{ url_for('static', filename = 'dist/img/general/loader.png')}}" width="200px" height="200px">
                            </div>
                            
                        </div>   
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
     
        <!-- /.content-wrapper -->
        {% include 'BD/modulos/footer.html' %}
        {% include 'BD/modulos/side-bar-control.html' %}
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    {% include 'BD/modulos/scripts.html' %}
    <!--Libreria chart-->
</body>

</html>